

body {
    /* background: #d8d8d8 */
    background: url("https://cdn.wallpaper.com/main/styles/fp_1540x944/s3/galleries/15/11/t3taoyuanairport_4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    /* padding-top: 100px; */
}

.jumbotron {
    background-image:url('../images/aviato-logo.jpg');
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom:1px solid #6b2bff
}

.card{
    background: white;
    border: 2px solid #54637a;
    margin-bottom: 20px;
    /* padding: 0px 10px 0px 10px; */
}

.card-header {
    background: #54637a;
    color: white;
    padding: 5px 0px 5px 5px;
    margin: 0px;
}

